Gemfile.lock
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
incipits-in_progress/musescore-files.autosave_saving/audiosettings.json
incipits-in_progress/musescore-files/audiosettings.json
incipits-in_progress/musescore-files/META-INF/container.xml
incipits-in_progress/musescore-files/Thumbnails/thumbnail.png
incipits-in_progress/musescore-files/score_style.mss
incipits-in_progress/musescore-files/viewsettings.json
